.pelicula-informacion {
    padding: 10px;
}

.pelicula-informacion p {
    margin-bottom: 10px;
    color: #cccccc;
}

.pelicula-informacion strong {
    color: #fbe54e;
    display: inline-block;
    min-width: 90px;
}

.pelicula-informacion p:nth-child(2) {
    font-style: italic;
    color: #ffd700;
    text-align: justify;
    padding: 15px 0;
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
    margin-top: 15px;
}

.lista-protagonistas {
    list-style: none; 
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    margin-top: 15px;
}

.protagonista-nombre {
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: rgba(50, 50, 50, 0.7);
    color: #cccccc;
    transition: background-color 0.2s, color 0.2s;
    border: 1px solid transparent;
}

.protagonista-item:hover {
    background-color: #fbe54e;
    color: #121212;
}

.protagonista-item.selected-protagonista {
    background-color: #fbe54e; 
    color: #121212;
    font-weight: bold;
    border-color: #fbe54e;
}