/* /components/Actor.css */

.protagonista-info {
    border: 1px solid #444;
    padding: 15px;
    border-radius: 6px;
    background-color: #1a1a1a;
    margin-top: 20px;
}

.protagonista-info h4 {
    color: #ffe81f;
    margin-top: 0;
}

.protagonista-info p {
    margin: 5px 0;
    font-size: 0.95em;
}