.color {
	width: 80px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #000;
}

#rojo {
	background: red;
	color: white;
}
#verde {
	background: green;
	color: white;
}
#azul {
	background: blue;
	color: white;
}
#blanco {
	background: white;
	color: black;
}
#negro {
	background: black;
	color: white;
}

.lienzo table {
	border-collapse: collapse;
}

.lienzo td {
	width: 10px;
	height: 10px;
	border: 1px solid #ddd;
}
