.color {
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: 1px solid #000;
	border-radius: 100px;
}

#red {
	background: red;
}
#green {
	background: green;
}
#blue {
	background: blue;
}
#white {
	background: white;
}
#black {
	background: black;
}
#yellow {
	background: yellow;
}

.lienzo table {
	border-collapse: collapse;
}

.lienzo td {
	width: 10px;
	height: 10px;
	border: 1px solid #ddd;
}

.borrar {
	margin-top: 1px;
	border-radius: 10px;
	border: 1px solid #000;
	width: 5%;
	text-align: center;
	cursor: pointer;
}
