.lista {
    padding: 15px;
    flex: 1;
    width: 100%;
    background-color: #790707;
    border-radius: 5px;
}

.lista h3 {
    color: #8e44ad;
    border-bottom: 2px solid #8e44ad;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.productos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
