.menu-links {
    border: 3px solid #052d16;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(20, 109, 17);
}

.menu-links a {
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.menu-links a:hover {
    text-decoration: underline;
}
