.interprete {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
}

.foto-interprete {
  width: 100px;
  height: 100px;
}

.nombre-interprete {
  font-size: 1.5em;
  margin: 2px 2px 2px 2px;
  color: #333;
}

.descripcion-interprete {
  font-size: 1em;
  color: #666;
  line-height: 1.5;
}