.pelicula-cont {
	max-width: 800px;
	margin: 30px auto;
	padding: 20px;
	border: 1px solid #0047a5;
	border-radius: 12px;
	background-color: #fff;
	font-family: Arial, sans-serif;
}

.pelicula-titulo {
	color: #444;
	font-size: 2.5em;
	margin-bottom: 5px;
}

.pelicula-direccion {
	font-style: italic;
	color: #777;
	margin-bottom: 20px;
}

.pelicula-cartel {
	display: block;
	max-width: 30%;
	border-radius: 8px;
	height: 10%;
	width: auto;
}

.ocultar {
	display: none;
}
